@import './00_variables.scss';

.header {
  position: fixed;
  top: 0;
  height: $header-height;
  width: 100%;
  padding: 5px 1% 0 1%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  box-sizing: border-box;
  background-color: white;

  & *:last-child{
    margin-right: 2.5%;
  }
}

.splash-logo {
  min-height: 35%;
  width: 10%;
}

#logo_svg {
  // width: 100%;
  height: 100%;

  &:hover {
    fill: rgb(81, 130, 238);
  }
}