.login-signup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 800;

  a {
    padding: 10px;
    text-align: center;
    width: 100px;

    &:hover {
      color: rgb(81, 130, 238);
    }
  }
}

.signup-link {
  height: 100%;
  border: 3px solid black;
  border-radius: 50px;
}
