@import './00_variables.scss';

.user-profile {
  margin-top: $header-height;
  width: 100vw;
  height: 90vh;
  text-align: center;
}

.user-profile-picture {
  img {
    object-fit:cover;
    object-position: center;
    width: 100px;
    height: 100px;
  }
}
