@import './00_variables.scss';

.user-profile {
  margin-top: $header-height;
  width: 100vw;
  height: 90vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-picture{
  width: 80px;
  height: 80px;

  img{
    width: 100%;
    height: 100%;
  }

  .profile-picture-edit{
    display: none;
  }

  &:hover .profile-picture-edit{
    display: block;
    position: relative;
    top: -30px;
    background-color: ;
  }

}