.profile-edit{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-edit-form{
  width: 35%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid grey;
}

.profile-edit-row{
  width: 80%;
  height: 10%;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile-edit-text{
  display: flex;
  flex-direction: column;
  width: 48%;

  label{
    margin-bottom: 5px;
  }

  input, select{
    height: 100%;
    font-size: large;
    padding: 0 5%;
    border-radius: 8px;
    border-width: 1px;

    &:focus{
      outline: none;
      border: 2.5px solid blue;
      border-radius: 8px;
    }
  }
}

.profile-edit-buttons{
  font-size: 16px;
  width: 50%;
  height: 10%;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: flex-end;
  margin-right: 50px;

  & *{
    font-size: inherit;
    font-weight: bold;
    cursor: pointer;
    color: blue;
  }
}

.profile-edit-save{
  appearance: none;
  border: none;
  color: white;
  width: 150px;
  height: 50px;
  background-color: blue;
  border-radius: 50px;
}


