@import "./00_variables.scss";

.user-list {
  width: 40%;
  height: 100%;
  margin: 0 auto;
}

.user-listing {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin-bottom: 15px;

  > div {
    width: 33.333333%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.user-list-follow {
  width: 120px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-list-follow.following {
  border: 2px solid $pxBlueText;
  background-color: white;
  // color: white;

  &:hover {
    background-color: red;
    border: none;
  }

  &:hover:after {
    color: white;
    content: "Unfollow";
  }

  &:after {
    content: "Following";
  }
}

.user-list-follow.follow {
  background-color: $pxBlueText;
  color: white;

  &:hover {
    background-color: lighten($pxBlueText, 10%);
  }

  &:after {
    content: "Follow";
  }
}

.user-listing-photo {
  width: 90px;
  height: 90px;

  > a {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    overflow: hidden;
  }

  img {
    width: 100%;
    height: 100%;
  }
}
